@inherits LayoutComponentBase

<PageTitle>AssessmentOfAcceleratedAgingOfTheHumanBody1</PageTitle>

<CascadingAuthenticationState>
    <IndexHeader />
    <div class="main-content">
        @Body
    </div>
    <IndexFooter />

</CascadingAuthenticationState>
