/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает, что обертка занимает минимум высоту экрана */
}

.container {
    flex: 1; /* Заполняет оставшееся пространство между header и footer */
}

.main-content {
    padding: 1rem; /* Отступы вокруг основного содержимого */
}

IndexHeader {
    background: #f8f9fa;
    padding: 1rem;
}

IndexFooter {
    background: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}
