@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Index</PageTitle>

<div>
    <div>
        <IndexHeader></IndexHeader>
    </div>

    <div class="tabs">
        <Tabs></Tabs>
    </div>
    <div>
        <IndexFooter></IndexFooter>
    </div>
</div>

@code {

}
