@page "/"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<div class="page">
    <div class="main">
        <p>Прискорене старіння організму - це процес, при якому організм втрачає свою здатність до нормального функціонування на швидшому темпі, ніж зазвичай. Це може бути викликано різними факторами, включаючи генетичні особливості, нездоровий спосіб життя, зовнішні фактори, такі як забруднення середовища, стрес або хронічні захворювання.</p>

        <p>Визначення прискореного старіння може включати такі ознаки, як прискорена втрата м'язової маси, погіршення функцій органів, зміни в кістковій тканині, зміни в шкірі, зменшення енергії і загальний вплив на якість життя. Дослідження в галузі геронтології, а також медицинська практика, спрямовані на розуміння цього явища та розробку стратегій для його запобігання або зменшення.</p>

        <p>Симптоми прискореного старіння можуть виявлятися в різних аспектах здоров'я та функціонування організму. Ось деякі з найбільш поширених симптомів:</p>
        <ul>
            <li>Зміни в шкірі: Включаючи втрату еластичності, появу зморшок, пігментацію, втрату тургору та інші ознаки старіння шкіри.</li>
            <li>Втрата м'язової маси: Це може призвести до слабкості м'язів, зменшення сили та ефективності рухів.</li>
            <li>Зміни в кістковій системі: Включаючи втрату маси кісток, розрідження кісткової тканині та збільшення ризику виникнення переломів.</li>
            <li>Зміни в функціях органів: Такі як зниження функції серця та легенів, погіршення зору та слуху, зниження кількості природної продукції гормонів та інші.</li>
            <li>Погіршення пам'яті та когнітивних функцій: Зазвичай це проявляється у погіршенні пам'яті, концентрації, швидкості мислення та інших аспектах когнітивної функції.</li>
            <li>Зміни в енергетичному рівні: Включаючи втому, важкість збудження та загальне зниження енергії.</li>
            <li>Зміни в системі імунітету: Зниження опору до інфекцій та зменшення здатності організму боротися з хворобами.</li>
        </ul>

        <p>Ці симптоми можуть виявлятися по-різному у різних людей і можуть бути впливом як генетичних факторів, так і зовнішніх умов та стилів життя.</p>

        <p>Для того, щоб визначити чи є у вас прискорене старіння організму ви можете пройти наш тест.</p>

        <br />
        <a class="button-link" role="button" onclick="showAlert()">Розпочати тестування</a>
    </div>
</div>

@code {
    private bool userAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userAuthenticated = authState.User.Identity.IsAuthenticated;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("setUserAuthenticated", userAuthenticated);
        }
    }
}


<script>
    let isAuthenticated = false;

    function setUserAuthenticated(authenticated) {
        isAuthenticated = authenticated;
    }

    function showAlert() {
        if (!isAuthenticated) {
            if (confirm("Результати тестування не будуть збережені для відстеження стану організму. Щоб зберегти їх - увійдіть до свого облікового запису або зареєструйтесь.\n\nПродовжити?")) {
                window.location.href = "/test";
            }
        } else {
            window.location.href = "/test";
        }
    }
</script>
