@page "/login"
@using AssessmentOfAcceleratedAgingOfTheHumanBody1.Authentication
@using System.ComponentModel.DataAnnotations
@using AssessmentOfAcceleratedAgingOfTheHumanBody1.Models.User
@inject IJSRuntime js
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject HttpClient Http

<div class="login-container">
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin" class="login-form">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="loginModel.Email" />
        </div>
        <div>
            <label for="password">Пароль:</label>
            <InputText id="password" @bind-Value="loginModel.Password" type="password" />
        </div>
        <button type="submit">Увійти</button>
    </EditForm>

    @if (loginFailed)
    {
        <script>
            window.alert("Авторизація не вдалася. Будь ласка, перевірте введені дані та спробуйте ще раз.");
        </script>

    }
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginFailed = false;

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel.Email, loginModel.Password);
        if (result.Success)
        {
            loginFailed = false;
            await js.InvokeVoidAsync("BlazorAuth.signIn", result.UserInfo);
        }
        else
        {
            loginFailed = true;
        }
    }

    private class LoginModel
    {
        [Required, EmailAddress]
        public string Email { get; set; }

        [Required, MinLength(6)]
        public string Password { get; set; }
    }
}