.results-area {
    margin: 25px 20% 5% 20%;

    p {
        font-size: 1.25rem; // Увеличиваем размер шрифта
        line-height: 1.6; // Устанавливаем межстрочный интервал для улучшения читаемости
    }
}
