<div class="header-area">

    <div class="header">

        <div class="title">
            <p>Визначення прискореного старіння організму людини</p>
        </div>

        <div class="header-items">

            <div class="header-item">
                <a href="#">Про нас</a>
            </div>

            <div class="header-item">
                <a href="/login">Вхід</a>
            </div>

            <div class="header-item">
                <a href="/register">Реєстрація</a>
            </div>

        </div>
    </div>
</div>

@code {

}
