<div class="header-area">

    <div class="header">

        <div class="title">
            <p>Визначення прискореного старіння організму людини</p>
        </div>

        <div class="header-items">

            <div class="header-item">
                <p>Про нас</p>
            </div>

            <div class="header-item">
                <p>Вхід</p>
            </div>

            <div class="header-item">
                <p>Реєстрація</p>
            </div>

        </div>
    </div>
</div>

@code {

}
