.header-area {
    width: 100%;
    background: #007BFF;
    color: #FFFFFF;

    .header {
        height: 72px;
        margin: auto;
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            font-size: 20pt;
        }

        .header-items {
            display: flex;

            .header-item {
                font-size: 20pt;
                margin-left: 0;
                margin-right: 20px;

                a {
                    text-decoration: none; /* Убирает подчеркивание */
                    color: inherit; /* Наследует цвет от родительского элемента */
                    transition: color 0.3s ease; /* Плавное изменение цвета текста */
                }

                button {
                    background: none; /* Убирает фон кнопки */
                    border: none; /* Убирает границу кнопки */
                    color: inherit; /* Наследует цвет текста */
                    cursor: pointer; /* Делает курсор указателем при наведении */
                    padding: 0; /* Убирает отступы внутри кнопки */
                    font-family: inherit; /* Наследует шрифт от родительского элемента */
                    font-size: inherit; /* Наследует размер шрифта от родительского элемента */
                    transition: color 0.1s ease; /* Плавное изменение цвета текста */
                }
                /* Стили для изменения цвета текста при наведении */
                a:hover,
                button:hover {
                    color: gray; /* Делает текст серым при наведении */
                }
            }
        }
    }
}
