<div class="header-area">
    <div class="header">
        <div class="header-item">
            <h3>Назва</h3>
        </div>
        <div class="header-item">
            <p>Про нас</p>
        </div>
        <div class="header-item">
            <p>Вхід</p>
        </div>
        <div class="header-item">
            <p>Реєстрація</p>
        </div>
    </div>
</div>

@code {

}
